# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
cardiac_env/
venv_carputils/
.venv/

# External/reference repos
cardiac-simulator/
openCARP-PINNs/
carputils/

# Generated training checkpoints
*.pt
*.pth
*.h5

# Logs
*.log
